@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.header{
    display: flex;
    justify-content: left;
    z-index: 1;
    overflow: hidden;
    background-color: #152C7B;
    padding: 1rem 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 2rem;
  }
  h1, h2, h3, h4{
    color: #152C7B
    
  }

  .logo{
    width: 8rem;
    margin: 1rem;
    
  }
  nav{
    background-color: white!important;
    margin-top: 2rem;
    position: fixed;
    align-content: flex-end;
    z-index: 1;
    border-bottom: 6px solid #152C7B;
  }
  .navbar{
    padding:0rem !important;
   /*  margin-right: 3rem;
    margin-left: 3rem; */
  }
 
  .navbar-nav{
    padding-left: 0rem !important;
    font-size: 1.2rem !important;
    color: white !important;
  }
  .navbar-collapse{
    margin-right: 2rem;
  }
  .nav-link{
    color: black !important;
  
  }
 
  .buttons-special{
   margin-top: 5rem;
    position: fixed;
    padding-left: 70rem;
    z-index: 2;
    justify-items: flex-end;
    align-content: flex-end;
    
  }
 
  #root{
    z-index: 0;
    margin-top: 12rem;
    position: relative;
    padding-top: 0rem;
    margin-bottom: 5rem;
  }
 
 .nav-link:hover {
  text-decoration-line: underline;
    text-decoration-color: blue;
    text-decoration-style: solid;
 }
  .nav-item:hover{
    text-decoration-line: underline;
    text-decoration-color: blue;
    text-decoration-style: solid;
  }

  .home_1{
    width: 90%;
  } 
/*   #contrast{
    border-radius: 10rem;
    border-width: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    color:white;
    background-color: black;
  }
  #smaller-size,#bigger-size{
    border-radius: 10rem;
    border-width: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    color:black;
    background-color: #D2D2D2;
  } */

  #btn-to-about{
    margin: 3rem;
  }
  .txt-def{
    margin-left: 3rem;
  }
  #btn-to-symtoms{
margin-top: 2.6rem;
  }
  #btn-to-especialist{
    margin-top: 4.3rem;
  }
 /*  .colInfo{
    margin:0.1rem;
  } */
.home_5,.home_6,.home_7{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.friend{
text-align: center;
}
.accessibility-btn {
  border: none;
  border-radius: 50%;
  background-color: #D2D2D2;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
}
.small {
  padding: 2px 6px 2px 8px;
}
.big {
  padding: 2px 3px 2px 5px;
}
.contrast {
  background-color: #000000 !important;
  color: #ffffff !important;
  padding: 1px 10px 3px 10px;
}
.normal-content {
	background-color: #ffffff;
	color: #333333;
}
.high-contrast-content {
	background-color: #333333;
	color: #ffffff;
}
.normal-size {
	font-size: large;
}
.bigger-size {
	font-size: x-large;
}
.biggest-size {
	font-size: xx-large;
}
.footer {
	padding: 0;
  margin: 0;
  height: 150px;
  background-color: #152C7B;
}
.footer-txt {
  color: #ffffff;
}
.footer-container {
	padding: 0;
  margin: 0;
	height: 150px;
}

.rrss-container {
  text-align: center;
}
.contact-container {
  text-align: right;
}
.page-title {
  font-size: 28px;
  color: #152C7B;
  margin-bottom: 20px;
}
.contact-email {
  color: #152C7B;
}
.rs-icon {
	color: #152C7B;
	background-color: #ffffff;
  font-size: 35px;
  border-radius: 50%;
}
.icon-container {
  margin: 5px;
}
.fa-facebook-square {
  padding: 7px 8px 6px 9px;
}
.fa-instagram {
  padding: 6px 8px 7px 8px;
}
.fa-twitter {
  padding: 6px;
}
.specialists-title {
  margin-top: 15px;
  margin-bottom: 15px;
}
.blue-btn {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 188px;
  height: 61px;
  background-color: #152C7B;
  color: #ffffff;
  border-radius: 4px;
}
.blue-btn:hover {
  color: #ffffff;
  background-color: #0F3461;
}
/* .txt-center p{
  text-align: center;
} */


/* Views */
.route-title {
  margin-bottom: 20px;
}
.about-title {
  margin-top: 2rem;
}
.symptoms {
  margin-bottom: 70px;
	padding: 30px 0;
}
.specialists-title {
  margin-top: 1rem;
}
table {
  margin-top: 2rem;
}

.tr-specialists {
  border-bottom: #C4C4C4 1px solid;
}
.td-specialists {
  border-left: #828282 3px solid;
  padding-left: 15px;
}
@media (max-width: 600px) {
  .footer {
    background-color: #152C7B;
  }
  .footer-container {
    height: 300px;
    background-color: #152C7B;
  }
  .logo-container {
    text-align: center;
  }
  .contact-container {
    text-align: center;
  }
  #btn-to-specialists {
    float: none !important;
  }
  .back-btn {
    text-align: center;
  }
  .home_2, .home_3, .home_4, .specialists-img {
    width: 250px;
  }
}
